<pre style="background-color:#282c34;color:#abb2bf">
<span style="color:#5c6370;font-style:italic;">/**</span>
<span style="color:#5c6370;font-style:italic;"> * </span><span style="color:#98c379;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#5c6370;font-style:italic;"> 2020 Christoph Cullmann </span><span style="color:#c678dd;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#5c6370;font-style:italic;"> * </span><span style="color:#98c379;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#98c379;font-style:italic;"> </span><span style="color:#98c379;font-style:italic;">MIT</span>
<span style="color:#5c6370;font-style:italic;"> */</span>

<span style="color:#5c6370;font-style:italic;">// </span><span style="color:#2980b9;background-color:#153042;">BEGIN</span>
<span style="color:#c678dd;">#include </span><span style="color:#98c379;">&lt;string&gt;</span>
<span style="color:#c678dd;">#include </span><span style="color:#98c379;">&lt;QString&gt;</span>
<span style="color:#5c6370;font-style:italic;">// </span><span style="color:#2980b9;background-color:#153042;">END</span>

<span style="color:#5c6370;font-style:italic;">/**</span>
<span style="color:#5c6370;font-style:italic;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#5c6370;font-style:italic;">: improve documentation</span>
<span style="color:#5c6370;font-style:italic;"> * </span><span style="color:#98c379;font-weight:bold;">@param</span><span style="color:#5c6370;font-style:italic;"> </span><span style="color:#e06c75;font-weight:bold;">magicArgument</span><span style="color:#5c6370;font-style:italic;"> some magic argument</span>
<span style="color:#5c6370;font-style:italic;"> * </span><span style="color:#98c379;font-weight:bold;">@return</span><span style="color:#5c6370;font-style:italic;"> magic return value</span>
<span style="color:#5c6370;font-style:italic;"> */</span>
<span style="color:#c678dd;">int</span> main<span style="color:#c678dd;">(</span><span style="color:#c678dd;">uint64_t</span> magicArgument<span style="color:#c678dd;">)</span>
<span style="color:#c678dd;">{</span>
    <span style="color:#c678dd;">if</span> <span style="color:#c678dd;">(</span>magicArgument <span style="color:#c678dd;">&gt;</span> <span style="color:#d19a66;">1</span><span style="color:#c678dd;">)</span> <span style="color:#c678dd;">{</span>
        <span style="color:#c678dd;">const</span> <span style="color:#c678dd;">std::string</span><span style="color:#c678dd;"> </span>string <span style="color:#c678dd;">=</span> <span style="color:#98c379;">&quot;source file: </span><span style="color:#56b6c2;">\&quot;</span><span style="color:#98c379;">&quot;</span> <span style="color:#27ae60;">__FILE__</span> <span style="color:#98c379;">&quot;</span><span style="color:#56b6c2;">\&quot;</span><span style="color:#98c379;">&quot;</span><span style="color:#c678dd;">;</span>
        <span style="color:#c678dd;">const</span> <span style="color:#61afef;font-weight:bold;">QString</span> qString<span style="color:#c678dd;">(</span><span style="color:#61afef;font-weight:bold;">QStringLiteral</span><span style="color:#c678dd;">(</span><span style="color:#98c379;">&quot;test&quot;</span><span style="color:#c678dd;">))</span><span style="color:#c678dd;">;</span>
        <span style="color:#c678dd;">return</span> <span style="color:#61afef;">qrand</span><span style="color:#c678dd;">()</span><span style="color:#c678dd;">;</span>
    <span style="color:#c678dd;">}</span>

    <span style="color:#5c6370;font-style:italic;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#5c6370;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#c678dd;">const</span> <span style="color:#c678dd;">double</span> g <span style="color:#c678dd;">=</span> <span style="color:#d19a66;">1.1e12</span> <span style="color:#c678dd;">*</span> <span style="color:#d19a66;">0b01'01'01'01</span> <span style="color:#c678dd;">-</span> <span style="color:#d19a66;">43</span><span style="color:#f44747;text-decoration:underline;">a</span> <span style="color:#c678dd;">+</span> <span style="color:#d19a66;">0x11234</span> <span style="color:#c678dd;">*</span> <span style="color:#d19a66;">0234</span><span style="color:#c678dd;">ULL</span> <span style="color:#c678dd;">-</span> <span style="color:#98c379;">'c'</span> <span style="color:#c678dd;">*</span> <span style="color:#d19a66;">42</span><span style="color:#c678dd;">;</span>
    <span style="color:#c678dd;">return</span> g <span style="color:#c678dd;">&gt;</span> <span style="color:#d19a66;">1.3</span><span style="color:#c678dd;">f</span><span style="color:#c678dd;">;</span>
<span style="color:#c678dd;">}</span>
</pre>
