<pre style="background-color:#000000;color:#b2b2b2">
<span style="color:#54ffff;">/**</span>
<span style="color:#54ffff;"> * </span><span style="color:#ff00ff;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#54ffff;"> 2020 Christoph Cullmann </span><span style="color:#5fd7ff;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#54ffff;"> * </span><span style="color:#ff00ff;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#ff00ff;font-style:italic;"> </span><span style="color:#ff00ff;font-style:italic;">MIT</span>
<span style="color:#54ffff;"> */</span>

<span style="color:#54ffff;">// </span><span style="color:#0095ff;background-color:#22226d;">BEGIN</span>
<span style="color:#87ffaf;">#include </span><span style="color:#ff54ff;">&lt;string&gt;</span>
<span style="color:#87ffaf;">#include </span><span style="color:#ff54ff;">&lt;QString&gt;</span>
<span style="color:#54ffff;">// </span><span style="color:#0095ff;background-color:#22226d;">END</span>

<span style="color:#54ffff;">/**</span>
<span style="color:#54ffff;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#54ffff;">: improve documentation</span>
<span style="color:#54ffff;"> * </span><span style="color:#ff00ff;font-weight:bold;">@param</span><span style="color:#54ffff;"> </span><span style="color:#0095ff;font-weight:bold;">magicArgument</span><span style="color:#54ffff;"> some magic argument</span>
<span style="color:#54ffff;"> * </span><span style="color:#ff00ff;font-weight:bold;">@return</span><span style="color:#54ffff;"> magic return value</span>
<span style="color:#54ffff;"> */</span>
<span style="color:#ffff54;">int</span> main(<span style="color:#ffff54;">uint64_t</span> magicArgument)
{
    <span style="color:#ffff54;font-weight:bold;">if</span> (magicArgument &gt; <span style="color:#ff8b8b;">1</span>) {
        <span style="color:#ffffaf;">const</span> <span style="color:#87ffaf;font-weight:bold;">std::string</span> string = <span style="color:#ff54ff;">&quot;source file: </span><span style="color:#0095ff;">\&quot;</span><span style="color:#ff54ff;">&quot;</span> <span style="color:#54ff54;">__FILE__</span> <span style="color:#ff54ff;">&quot;</span><span style="color:#0095ff;">\&quot;</span><span style="color:#ff54ff;">&quot;</span>;
        <span style="color:#ffffaf;">const</span> <span style="color:#0095ff;font-weight:bold;">QString</span> qString(<span style="color:#0095ff;font-weight:bold;">QStringLiteral</span>(<span style="color:#ff54ff;">&quot;test&quot;</span>));
        <span style="color:#ffff54;font-weight:bold;">return</span> <span style="color:#cd00cd;">qrand</span>();
    }

    <span style="color:#54ffff;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#54ffff;">: bogus integer constant inside next line */</span>
    <span style="color:#ffffaf;">const</span> <span style="color:#ffff54;">double</span> g = <span style="color:#ff8b8b;">1.1e12</span> * <span style="color:#ff8b8b;">0b01'01'01'01</span> - <span style="color:#ff8b8b;">43</span><span style="color:#ff5500;text-decoration:underline;">a</span> + <span style="color:#ff8b8b;">0x11234</span> * <span style="color:#ff8b8b;">0234</span><span style="color:#87ffaf;font-weight:bold;">ULL</span> - <span style="color:#ff5454;">'c'</span> * <span style="color:#ff8b8b;">42</span>;
    <span style="color:#ffff54;font-weight:bold;">return</span> g &gt; <span style="color:#ff8b8b;">1.3</span><span style="color:#87ffaf;font-weight:bold;">f</span>;
}
</pre>
